{% extends 'layout.html' %}

{% block body %}
    <h1>Изменить роль </h1>
<td>
            <form action="/grouper/meth/chrole/" method="POST">
                <label>Название группы </label><br>
                <input type="text" name="group_name" /><br>
                <label>Введите имя  </label><br>
                <input type="text" name="user_id"/>
                <p><b>Выберите роль?:</b><Br>
                <input type="radio" name="role" value=DEVELOPER>Developer,<Br>
                <input type="radio" name="role" value=GUEST>Guest<Br>
                <input type="radio" name="role" value=MAINTAINER>Maintainer<Br>
                <input type="radio" name="role" value=REPORTER>Reporter<Br>
                <input type="radio" name="role" value=OWNER>Owner<Br>
                <br><br><input type="submit" value=" Create " name="create">
            </form>
        </td>
{% endblock %}