{% extends 'layout.html' %}

{% block body %}
    <h1>Добавить пользователя </h1>
<td>
            <form action="/grouper/meth/groups_add/" method="POST">
                <br><label>Файл с группами </label><br>
                <input type="text" name="file_groups_name" /><br>
                <label>Введите имя  </label><br>
                <input type="text" name="user"/>
                <p><b>Выберите роль?:</b><Br>
                <input type="radio" name="role" value=Owner> Преподаватель (Owner)<Br>
                <input type="radio" name="role" value=Maintainer> Maintainer<Br>
                <input type="radio" name="role" value=Developer> Developer<Br>
                <input type="radio" name="role" value=Reporter> Reporter<Br>
                <input type="radio" name="role" value=Guest> Слушатель (Guest)<Br>
                <br><br><input type="submit" value=" Create " name="create">
            </form>
        </td>
{% endblock %}